<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments::resources}">

  <title>Prihvaćeni Termini</title>
</head>
<body>

<div th:replace="~{fragments :: navbar}"></div>

<main>
  <div th:if="${session.user != null}" class="border-wrapper" >
    <div class="main-wrapper">
      <p th:replace="~{fragments :: dashboard_head}"></p>
      <div class="content-wrapper">
      <div th:replace=" ~{fragments :: role-buttons}"></div>
        <div style="padding:2vw;justify-content: flex-start;" class="forms">
          <div class="table_positioning">
            <div  style="width: 90%;" class="table_width">
              <div class="container" style="max-height: 25vw">
                <table style="width: 100%">
                  <thead>
                  <tr>
                    <th scope="col">Usluga</th>
                    <th scope="col">Cijena(KM)</th>
                    <th scope="col">Trajanje(min)</th>
                    <th scope="col">Frizer</th>
                    <th scope="col">Datum i Vrijeme</th>
                    <th scope="col">Stanje</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="termin : ${termini}">
                    <td th:text="${termin.usluge.get(0).naziv}"></td>
                    <td th:text="${termin.usluge.get(0).cijena}"></td>
                    <td th:text="${termin.usluge.get(0).trajanje}"></td>
                    <td th:text="${termin.frizer.user.ime + ' ' + termin.frizer.user.prezime}"></td>
                    <td th:text="${termin.datum_termina} + ' '+ ${termin.pocetak_termina}"></td>
                    <td th:with="State=${T(com.example.dzanicprojekat.Utility.State)}">
                      <span th:switch="${termin.state}"      style="font-weight: bold">
                        <span th:case="${State.Canceled}"    style="color: red">Otkazano</span>
                        <span th:case="${State.Unconfirmed}" style="color: orange">Nije Potvrđeno</span>
                        <span th:case="${State.Confirmed}"   style="color: lawngreen">Potvrđeno</span>
                      </span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


</body>
</html>