<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments::resources}">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/new-style.css">
    <link rel="stylesheet" href="/css/dashboards.css">
    <script src="/js/scripts.js"></script>
    <script src="/js/dropdowns.js"></script>
    <title>Kontakt</title>
</head>
<body>
    <div th:replace="~{fragments::navbar}"></div>

</body>
</html>