body {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    background-color: #0c0f15;
    overflow-x:hidden;
    color: #ababab;
}

.border-wrapper {
    background-color: goldenrod;
    border-radius: 15px;
    padding: 3px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-top: 4vw;
}

.main-wrapper {
    border-radius: 15px;
    background-color: #0c0f15;
    padding: 3px;
}

.title {
    font-family: sans-serif;
    color: darkgoldenrod;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    border: 1px solid #2e2d2d;
    border-radius: 15px;
    margin-bottom: 2px;
    background: black;
}

.content-wrapper {
    border: 15px;
    font-family: "Lato", sans-serif;
    display: flex;
    min-height: 500px;
    background-color: transparent;
    justify-content: space-between;
    gap:2px
}

.list-wrapper {
    border-radius: 15px;
    width: 20%;
    background-color: black;
    border: 1px solid #2e2d2d;
}

.list-wrapper li {
    list-style: none;
}

.list-wrapper a {
    text-decoration: none;
    box-shadow: 0 0 5px silver;
    border-radius: 10px;
    text-align: center;
    color: silver;
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
    padding: 15px;
    background: linear-gradient(323deg, var(--myColor1), var(--myColor2), var(--myColor1));
    transition: --myColor1 0.25s, --myColor2 0.25s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

@property --myColor1 {
    syntax: '<color>';
    initial-value: #000;
    inherits: false;
}

@property --myColor2 {
    syntax: '<color>';
    initial-value: #000;
    inherits: false;
}

.list-wrapper a:hover {
    color: black;
    font-weight: bold;
    background: linear-gradient(323deg,var(--myColor1), var(--myColor2),var(--myColor1));
    --myColor1: #d69a02;
    --myColor2: #edca8a;
}

.list-wrapper a:not(:last-child) {
    margin-bottom: 10px;
}

.forms {
    display: flex;
    justify-content: flex-start;
    background-color: black;
    border-radius: 15px;
    border: 1px solid #2e2d2d;
    width: 80%;
    /* align-content: flex-start; */
    flex-direction: column;
    align-items: flex-start;
}

