<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments::resources}">

  <title>Settings</title>
</head>
<body>


<div th:replace="~{fragments :: navbar}"></div>

<main>
  <div th:if="${session.user != null}" class="border-wrapper" >
    <div class="main-wrapper">
      <p th:replace="~{fragments :: dashboard_head}"></p>
      <div class="content-wrapper">
        <div th:replace=" ~{fragments :: role-buttons}"></div>
        <div style="padding:2vw;" class="forms">
          <div class="table_width" th:fragment="settings_form">
            <form action="/change_password" method="POST">

              <div class="form-input">
                <label>New Password</label>
                <input type="password" name="new_pass">
              </div>

              <div class="form-input">
                <label>Confirm Password</label>
                <input type="password" name="conf_pass">
              </div>

              <div class="form-submit" style="text-align: left;">
                <div><p class="error-style" style="color:limegreen" th:text="${changed}"></p></div>
                <div><p class="error-style" th:text="${error}"></p></div>
                <button type="submit" style="width: 30%;height: 70%;">Sačuvaj</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


</body>
</html>