<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dodaj Usluge</title>
  <th:block th:insert="~{fragments :: resources}"></th:block>
</head>
<body>
<div th:replace="~{fragments::navbar}"></div>
<main>
  <div th:if="${session.user != null}" class="border-wrapper" >
      <div class="main-wrapper">
        <p th:replace="~{fragments :: dashboard_head}"></p>
        <div class="content-wrapper">
          <div th:replace=" ~{fragments :: role-buttons}"></div>
          <div style="padding:2vw;justify-content: flex-start;" class="forms">
            <div class="table_positioning">
              <div  style="width: 90%;" class="table_width">
                <div class="container">
                  <table style="width: 100%">
                    <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Naziv</th>
                      <th scope="col">Cijena(KM)</th>
                      <th scope="col">Trajanje(min)</th>
                      <th scope="col">Aktivno</th>
                      <th scope="col">-</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="usluga : ${usluge}">
                      <th th:text="${usluga.getId()}"></th>
                      <td th:text="${usluga.getNaziv()}"></td>
                      <td th:text="${usluga.getCijena()}"></td>
                      <td th:text="${usluga.getTrajanje()}"></td>
                      <td th:text="${usluga.isActive()}"></td>
                      <td style="display:flex;justify-content: center;gap: 1vw">
                        <form class="table-attribute" action="/obrisi_uslugu" method="POST">
                          <input type="hidden" name="id" th:value="${usluga.getId()}"/>
                          <button class="login" type="submit"><i>Delete</i></button>
                        </form>
                        <form class="table-attribute" action="/stanje_usluge" method="POST">
                          <input type="hidden" name="id" th:value="${usluga.getId()}"/>
                          <input type="hidden" name="active" th:value="${usluga.active}"/>
                          <button class="login" id="greenBtn" type="submit" th:if="${!usluga.active}"><i>Uključi</i></button>
                          <button class="login" type="submit" th:if="${usluga.active}"><i>Isključi</i></button>
                        </form>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>